@font-face {
    font-family: "butlermedium";
    src: url('../fonts/Butler_Medium.otf');
}

@font-face {
    font-family: "montserratlight";
    src: url('../fonts/Montserrat-Light.otf');
}

@font-face {
    font-family: "montserratbold";
    src: url('../fonts/Montserrat-Bold.ttf');
}
