.footer {
	background: $primary;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    font-family:"montserratbold", arial;
    text-transform:  uppercase;
    letter-spacing: 3px;
    font-size: 0.8rem;


    li {
        display: inline-block;

        &:not(:last-child) {
            margin-right: 8vw;
        }
    }
}
