.footer {
	background: $primary;
    color: #fff;
    text-align: center;
    padding: 3px 0;
    font-family: $secondary-font;
    text-transform:  uppercase;
    letter-spacing: 3px;
    font-size: 0.6rem;

    ul {
        margin: 0;
    }

    a {
        color: #fff;
        transition: color 0.2s;

        &:hover {
            color: $secondary;
            text-decoration: none;

        }
    }


    li {
        display: inline-block;

        &:not(:last-child) {
            margin-right: 8vw;
        }

        .fa {
            font-size: 150%;
        }
    }
}


.sponcorts{
    text-transform:  uppercase;
    color: $primary;
    font-family:$secondary-font;
    font-weight:bold;

    .navigationfooter{
        font-size:0.5rem;
        text-transform: none;
    }
}
