html, body{

	margin : 0;
	padding: 0;
	height:100%;
	width:100%;
	font-family: "butlermedium", verdana;
	background-color:#fff;
	color: #000;
    line-height: 35px;
    font-size:16px;
}

li {
    list-style: none;
}