@keyframes punchline { 

    from { opacity:0; margin-top:16vh; } 
    to { opacity:1; margin-top:19vh; } 

}

header {
    height: 80vh;
    margin:0 0px;
    background-image: url('../img/quote_header.png'), url('../img/silouette_denner2.png'), url('../img/Denner_lefto.png'), url('../img/Denner_righto.png');
    background-repeat: no-repeat; 
    background-color:#004764;
    background-position: 400px 600px,80px 30px,-200px 250px,900px -200px;
    background-size:auto, auto, 30% auto, 70% auto;
    overflow: hidden;
    position:relative;

    .pochoir {
        position:absolute;
        z-index: 9;
        top: 52px;
        right:527px;
        height: 190%;

        
    }

    a {
        color:#fff;
        transition: color 0.2s;


       
    }

    .punchline {
       
        opacity:0;  
        animation:punchline ease-in 1;
        animation-fill-mode:forwards;
        animation-duration:1s;
        animation-delay: 0.8s;
        color: #fff;
            }

    .menu {
        margin: 0;
        padding: 0;
        text-align: right;
        font-size: 0.7rem;
        letter-spacing: 1.4px;

        a {
            &:hover{
            color:$secondary;
            position: relative;
            border-top: 8px solid $secondary;
            padding-top: 22px;
        }
        }

        li {
            display: inline-block;
            font-family: $secondary-font;
          
            text-transform:  uppercase;

            &:not(:last-child) {
                padding-right: 50px;
            }
        }
    }

    nav {
        padding-top: 20px;
    }

            
    h1 {
        font-family: $secondary-font;
        font-weight: bold;
        color:$tertiary;
        text-transform: uppercase;
        letter-spacing: 6px;
        font-size: 1rem;
        margin: 0;
        padding:0;
    }

    .logo {
        text-transform:  uppercase;
        font-family: $secondary-font;
        font-weight: bold;
        font-size: 1.5rem; 
        letter-spacing: 10px;
        
        color: white;
        letter-spacing: 1vh;
   
        

        span {
            padding-left: 50px;
        }
    }

   

    

}



