@keyframes punchline { 

    from { opacity:0; margin-top:16vh; } 
    to { opacity:1; margin-top:19vh; } 

}

header {
    height: 80vh;
    margin:0 0px;
    background-image: url('../img/quote_header.png'), url('../img/pattern_header_right.png'), url('../img/Denner_righto.png');
    background-repeat: no-repeat; 
    background-color:#004764;
    background-position: 400px 600px,-200px 250px,900px -200px;
    background-size:auto, 30% auto, 70% auto;
    overflow: hidden;
    position:relative;

    .parallaxe {
        position:absolute;
       
    }

    .parallaxe__wrapper {
        position: absolute;
        width: 749px;;
        height: 985px;
        overflow: hidden;
        top: 0px;
        left: -51px;
    }

    .parallaxe.pochoir{
        background-image: url('../img/pochoir_denner.png');
        background-size:699px 985px;
        background-repeat: no-repeat; 
        top: 42px;
        left: 133px;
        width: 699px;
        height: 985px;
        z-index: 10;
        overflow: hidden;
    }

    .parallaxe.denner1{
        background-image: url('../img/denner_01.png');
        background-size:30% 30%;
        background-position: 50px 185px;
        background-repeat: no-repeat; 
        top: 42px;
        left: 133px;
        width: 1398px;
        height: 1971px;
        z-index: 2;
        
    }
    .parallaxe.denner2{
        background-image: url('../img/denner_02.png');
        background-size: 50% auto;
        background-position: 363px -12px;
        background-repeat: no-repeat; 
        top: 42px;
        left: 133px;
        width: 1398px;
        height: 1971px;
        z-index: 3;
    }
    .parallaxe.denner3{
        background-image: url('../img/denner_03.png');
        background-size: 21% auto;
        background-repeat: no-repeat; 
        top: 42px;
        left: 133px;
        width: 1398px;
        height: 1971px;
        z-index: 4;
    }
    .parallaxe.denner4{
        background-image: url('../img/denner_04.jpg');
        background-size: 705px 1000px;
        background-position: -2px -16px;
        background-repeat: no-repeat; 
        top: 42px;
        left: 133px;
        width: 1398px;
        height: 2004px;
        z-index: 1;
    }


    a {
        color:#fff;
        transition: color 0.2s;  
    }

    .punchline {
       
        opacity:0;  
        animation:punchline ease-out 1;
        animation-fill-mode:forwards;
        animation-duration:1.3s;
        animation-delay: 0.8s;
        color: #fff;
            }

    .menu {
        margin: 0;
        padding: 0;
        text-align: right;
        font-size: 0.7rem;
        letter-spacing: 1.4px;

        a {
            &:hover{
            color:$secondary;
            position: relative;
            border-top: 8px solid $secondary;
            padding-top: 22px;
        }
        }

        li {
            display: inline-block;
            font-family: $secondary-font;
          
            text-transform:  uppercase;

            &:not(:last-child) {
                padding-right: 50px;
            }
        }
    }

    nav {
        padding-top: 20px;
    }
            
    h1 {
        font-family: $secondary-font;
        font-weight: bold;
        color:$tertiary;
        text-transform: uppercase;
        letter-spacing: 6px;
        font-size: 1rem;
        margin: 0;
        padding:0;
    }

    .logo {
        text-transform:  uppercase;
        font-family: $secondary-font;
        font-weight: bold;
        font-size: 1.5rem; 
        letter-spacing: 10px;
        color: white;
        letter-spacing: 1vh;
        position: relative;
        z-index: 90;


        &:hover .charles {
                left:-25px;
            }
   
        .charles{         
            position: absolute;
            left:0px;
            transition:padding-left 1.5s;
            transition-timing-function: ease-out;

            &:hover{
                left:-25px;
            }
        }        

        .denner {
            padding-left: 50px;
            transition: padding-left 1.5s;
            transition-timing-function: ease-out;

            &:hover{
                padding-left: 78px;
            }
        }
    }  
}



