header {
    height: 80vh;
    margin:0 0px;

    a {
        color:#fff;
        transition: color 0.2s;

        &:hover{
            color:$secondary;
            position: relative;
            border-top: 8px solid $secondary;
            padding-top: 22px;


            
        }
    }

    .punchline {
        margin-top: 10vh;
    }

    .menu {
        margin: 0;
        padding: 0;
        text-align: right;
        font-size: 0.8rem;
        letter-spacing: 1px;

        li {
            display: inline-block;
            font-family: $secondary-font;
          
            text-transform:  uppercase;

            &:not(:last-child) {
                padding-right: 50px;
            }
        }
    }
    nav {
        padding-top: 20px;
    }

            

    h1 {
        font-family: $secondary-font;
        font-weight: bold;
        color:$tertiary;
        text-transform: uppercase;
        letter-spacing: 6px;
        font-size: 1rem;
        margin: 0;
    }

    .logo {
        text-transform:  uppercase;
        font-family: $secondary-font;
        font-weight: bold;
        font-size: 1.5rem; 
        letter-spacing: 10px;
        margin-left:35px;

        span {
            padding-left: 55px;
        }
    }

    .denner {
       
        padding-left: 30px;
    }

}

