/**
 * VARIABLES
 */
 //Colors
$primary: #004764;
$secondary: #cc1474;
$tertiary: #a4cdff;
$darker:#183545;

//Fonts
$primary-font: butler, serif;
$secondary-font: montserrat, arial;

/**
 * Fonts
 */
@import "fonts";
/**
 * Font-awesome
 */
@import "font-awesome";

/**
 * Bootstrap
 */
@import "bootstrap";

/**
 * General;
 */
@import "general";

/**
 * Header
 */
@import "header";

/**
 * Search
 */
@import "search";

/**
 * Footer
 */
@import "footer";

/**
 * Homepage
 */
 @import "pages/homepage";


 /**
 * saVie
 */
 @import "pages/saVie";

 /**
 * Editions
 */
 @import "pages/editions";

  /**
 * Editions
 */
 @import "pages/contact";