/**
 * VARIABLES
 */
 //Colors
$primary: #004764;
$secondary: #cc1474;
$tertiary: #a4cdff;

//Fonts
$primary-font: butler;
$secondary-font: montserrat, arial;

/**
 * Fonts
 */
@import "fonts";
/**
 * Font-awesome
 */
@import "font-awesome";

/**
 * Bootstrap
 */
@import "bootstrap";

/**
 * General;
 */
@import "general";

/**
 * Header
 */
@import "header";

/**
 * Footer
 */
@import "footer";

/**
 * Homepage
 */
 @import "pages/homepage";
