.header.header_edition {
	height: 30vh;
	background-image: url('../img/quote_header.png'), url('../img/silouette_denner.png'), url('../img/pattern_header_left.png'), url('../img/pattern_header_right.png');
	background-position: 400px 600px,100px -100px,left top,right top;
	
	
}

.editions {
	 height: 65vh;
	 margin-top: 5vh;
}