@keyframes rollOver { 

    from { color:$secondary; } 
    to { color:white; } 

}

// -------- BLOCS PARTIES


.oeuvres, .livre {
    margin-bottom: 8vh;
    transition: color 0.2s;

    h3 {
        color: white;

        &:hover {
            color: $secondary;
            animation:rollOver ease-in 1;
            animation-fill-mode:forwards;
            animation-duration:5s;
            animation-delay: 0s;
        }
    }
}

.oeuvres {
    background: url('../img/pattern_oeuvre2.png') no-repeat bottom right;

}

.savie, .oeuvres {
    height: 65vh;

}

.actu {
    margin-top: 25vh;
}


header, .oeuvres, .livre {
    background-color: $primary;
    color: white;
}


.description {
     font-family: "montserratlight", arial;
     font-size: 0.9rem;
     margin-bottom: 18px;
     
     
}

// ----------ARTICLES

article {
     background-color:$darker;
     color: white;
     font-family: "montserratbold", arial;
     overflow: hidden;
     transition: margin-top 0.2s;
     margin-bottom:30px;

     
    &:hover{
       
    }

    h5 {
        color: white;
        transition: color 0.2s;

        &:hover{
            color:$secondary;
        }
    }
}


.tighty {
    padding: 0;
    height: 70vh;
    
    
}



.offsettop {
    margin-top: -100px;
    padding:0;
    position: relative;
    z-index: 999;
    transition: margin-top 0.2s;

     
    &:hover{
        
    }
}

.article__img {
    height: 55vh;
    overflow: hidden;
    background-color:$secondary;    
}

.article__img img {
    max-height: 100%;
    transform: scale(1.1);
    transform-origin: 50% 50%;
    transition: opacity 0.5s, transform 3s ease-out;
    min-width: 100%;

    &:hover{
        opacity: 0.4;
        transform: scale(1.02);
    }
}


.large {
    
    padding: 0 0!important;
    height: 38vh;
    float: none!important;
}


.large__img { 
    overflow: hidden;
    height: 50vh;
    background-color:$secondary;   
}

.large__img img {
    max-width: 100%;
    height: auto;
    transform: scale(1.1);
    transition: opacity 0.5s, transform 3s;
    transform-origin: 50% 50%;


    &:hover{
        opacity: 0.4;
        transform: scale(1.02);
    }
}


.article__img__livre img {
    
    max-width: 100%;
    height: auto;
}
// BOUTONS ------------------


a.btnlire {
    text-transform:uppercase;
    font-size: 0.8rem;
    letter-spacing: 1px;
    position:relative;
    text-align: right;
    padding: 3px 24px 3px 24px;
    z-index: 1;
    display: block;
    color: white;

    &:hover{
        padding: 3px 24px 3px 24px;
    }

    &:before {
        content: '';
        height: 15px;
        width: 45px;
        background-color: #cc1474;
        position: absolute;
        top: 4px;
        right: 4px;
        z-index: -1;
        transition: top 0.1s, right 0.1s;
        transition-timing-function: ease-out;

    }

    &:hover::before {

        top: 19px;
        right: 47px;
        z-index: -1;
        content: '';
        color: white!important;
        
    }

    &:active::before {
        
        color: $secondary;
        

    }
}


// LIVRE ---------------

.articlelivre {
    height: 370px;
    overflow: hidden;
}


.livre {
    background: url('../img/pattern_livre.png') no-repeat bottom right $primary;

    .description{
        padding-right:100px;

    }
}


// OEUVRES

.oeuvrebloc {
    height: auto;

    &:first-child{
        //margin-left: 10px;
        
    }
}

.oeuvrebloc.firstbloc h5{
    padding : 5px 15px 0 40px;

}

.firstbloc .btnlire {
    padding-left:37px;
}



.oeuvre__titre {
    margin-left: 16px;
}

// ACTUS

.encartActu {
    margin-top: -2vh;
}

// A placer dans des feuilles differentes !!! ---------



// PAGE sa VIE

article a.btnlire{
    position:relative;
    display: inline-block;
}




