@keyframes rollOver { 

    from { color:$secondary; } 
    to { color:white; } 

}

// -------- BLOCS PARTIES


.oeuvres, .livre {
    margin-bottom: 8vh;
    transition: color 0.2s;

    a {
        color: white;

        &:hover {
            color: $secondary;
            animation:rollOver ease-in 1;
            animation-fill-mode:forwards;
            animation-duration:5s;
            animation-delay: 0s;
        }
    }
}

.oeuvres {
    background: url('../img/pattern_oeuvre2.png') no-repeat bottom right;

}

.savie, .oeuvres {
    height: 65vh;

}

.actu {
    margin-top: 25vh;
}


header, .oeuvres, .livre {
    background-color: $primary;
    color: white;
}


.description {
     font-family: "montserratlight", arial;
     font-size: 0.9rem;
     padding-right: 20px;
     
}

// ----------ARTICLES

article {
     background-color:$darker;
     color: white;
     padding:0!important;
     font-family: "montserratbold", arial;
     overflow: hidden;
     transition: margin-top 0.2s;
     margin-bottom:30px;

     
    &:hover{
       
    }

    a {
        color: white;
        transition: color 0.2s;

        &:hover{
            color:$secondary;
        }
    }
}


.tighty {
    padding: 0;
    height: 70vh;
    
    
}



.offsettop {
    margin-top: -100px;
    padding:0;
    position: relative;
    z-index: 999;
    transition: margin-top 0.2s;

     
    &:hover{
        margin-top:-50px;
    }
}

.article__img {
    height: 55vh;
    overflow: hidden;
    background-color:$secondary;    
}

.article__img img {
    max-height: 100%;
    transform: scale(1.1);
    transform-origin: 50% 50%;
    transition: opacity 0.5s, transform 3s ease-out;

    &:hover{
        opacity: 0.4;
        transform: scale(1.02);
    }
}


.large {
    
    padding: 0 0!important;
    height: 38vh;
    
    float: none!important;
}


.large__img { 
    overflow: hidden;
    height: 50vh;
    background-color:$secondary;   
}

.large__img img {
    max-width: 100%;
    height: auto;
    transform: scale(1.1);
    transition: opacity 0.5s, transform 3s;
    transform-origin: 50% 50%;

    &:hover{
        opacity: 0.4;
        transform: scale(1.02);
    }
}

.article__img__livre {
      
}
.article__img__livre img {
    
    max-width: 100%;
    height: auto;
}
// BOUTONS ------------------


.btnlire {
    text-transform:uppercase;
    font-size: 0.8rem;
    letter-spacing: 1px;
    position:relative;
    text-align: right;
    padding: 0 15px;
    z-index: 1;
    

    &:before {
        content: '';
        height: 15px;
        width: 80px;
        background-color:$secondary;
        position:absolute;
        //display: block;
        top: 6px;
        right: 0;
        z-index: -1;

    }

    &:hover::before {
        top: 0px;
        right: 10px;
        z-index: -1;
        content: 'Lire plus';
        color: white;
        transition: top 0.1s, right 0.1s;
    }

    &:active::before {
        
        color: $secondary;
        top: 0px;
        right: 0px;
        transition: top 0.1s, right 0.1s;

    }
}


// LIVRE ---------------

.articlelivre {
    height: 370px;
    overflow: hidden;
}


.livre {
    background: url('../img/pattern_livre.png') no-repeat bottom right $primary;

    .description{
        padding-right:100px;
    }
}


// OEUVRES

.oeuvrebloc {

    //width:24vw;
    height: auto;

    &:first-child{
        
    }
}

.oeuvre__titre {
    margin-left: 16px;
}

// ACTUS

.encartActu {
    margin-top: -2vh;
}

// A placer dans des feuilles differentes !!! ---------



// PAGE sa VIE






