.header.header_vie {
   height: 15vh;
   background-image: url ('../img/quote_header.png'), url('../img/silouette_denner.png'), url('../img/pattern_header_left.png'), url('../img/pattern_header_right.png');
   background-position: 400px 600px,100px -100px,left top,right top;

}


.savie_page {

    height: 65vh;
}


.description_vie.description {
	padding:0px;
	text-align:right;
	display: inline-block;

}

ul.ancres {
	text-align:right;
	font-family:$secondary-font;
	color:$secondary;
	text-transform:  uppercase;
	font-size:0.7rem;
	margin-right:20px;

	li {
		position:relative;

		&:after{
			content:'';
			position:absolute;
			height: 8px;
			width: 8px;
			background-color:$secondary;
			top: 13px;
			right: -15px;
		}
	}
}



.jeunesse.oeuvres {
	height: 120vh;
}

.savie__title {
	text-align:right;
	margin:5vh 0;
}

