.header_vie {
   height: 15vh;
   background-image: url('../img/quote_header.png'), url('../img/silouette_denner.png'), url('../img/pattern_header_left.png'), url('../img/pattern_header_right.png');
   background-position: 400px 600px,100px -100px,left top,right top;

}


.savie_page {

    height: 65vh;
}


.description_vie {
	padding-right:0px;
}



.ancres {
	text-align:right;
}




